*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* Растягиваем страницу на весь вьюпорт */
  margin: 0;
  overflow: hidden;
  /* Убираем скролл у всей страницы, чтобы скроллили только дивы */
}

#root {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;

  padding: 10px;
  margin: 0px;
  /* display: flex;  justify-content: center;  align-items: center; */

}

.container {
  display: grid;
  grid-template-columns: 350px 1fr 50px 1fr;
  grid-template-rows: 40px 40px 3fr 5fr;
  gap: 25px 25px;
  /* grid-auto-flow: row; */
  width: 100%;
  height: 100%;
  grid-template-areas:
    "item_search item_search . inventory_show"
    "type_selector grade_selector . inventory_import"
    "search_list search_list search_list history_list"
    "current_schedule solution solution solution";
}

.item_search {
  grid-area: item_search;
}

.type_selector {
  grid-area: type_selector;
}

.grade_selector {
  grid-area: grade_selector;
}

.search_list {
  grid-area: search_list;
}

.history_list {
  grid-area: history_list;
}

.current_schedule {
  grid-area: current_schedule;
}

.solution {
  grid-area: solution;
}

.inventory_import {
  grid-area: inventory_import;
}

.inventory_show {
  grid-area: inventory_show;
}


.search_list,
.history_list,
.current_schedule,
.solution {
  border: 1px dotted rgba(7, 85, 201, 0.35);
  overflow: auto;
  min-height: 0;
  min-width: 0;
}



.button-selector>div {

  width: 32px;
  height: 32px;
}

.button-selector>div:hover {
  outline: 1px solid red;
  /* Загоняем его внутрь */
  outline-offset: -1px;

  /* box-shadow: inset 0 0 0 3px blue; */
}

.transp {
  opacity: 0.2;
}

img {
  vertical-align: top;
}

.search_item,
.schedule_item {
  padding: 2px;
  margin: 2px;
  background: #e4e8ff;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}


.search_item {


  cursor: pointer;

  /* 3. Рисуем троеточие */
  text-overflow: ellipsis;
}

.search_item img {
  margin-right: 5px;
}




.schedule_item input[type="number"] {
  width: 50px;
}

button.red_cross {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: red;
  font-size: 20px;
}
