*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
  /* Делаем скроллбар узким */
  scrollbar-color: #0f3a55 transparent;
  /* Цвет ползунка и фона */
}

.bc1 {

  background-color: #154c71;
}

.bc2 {

  background-color: #1e4863;
}

.bc3 {
  background-color: #0f3a55;
}

.oc3 {
  border: 1px solid #0f3a55;
}

body {
  color: white;
}

a {
  color: #f3b831;
  text-decoration: none;
}

a:hover {

  text-decoration: underline;
}

a.itemlink {
  color: white;
  text-decoration: none;
}

a.itemlink:hover {
  color: #f3b831;
  text-decoration: underline;
}

html,
body {
  height: 100%;

  overflow: hidden;
}




#root {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;

  padding: 10px;
  /* text-align: center; */

}

.container {
  display: grid;
  grid-template-rows: 60px 60px 3fr 5fr;
  grid-template-columns: 460px 1fr 1fr 40px;

  gap: 5px 5px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "item_search site_logo inventory_show drawer_show"
    "search_list solution_options solution_options solution_options"
    "search_list solution_lack solution_craft solution_craft"
    "schedule_list solution_lack solution_craft solution_craft";
  justify-content: center;
}

.drawer_show {
  grid-area: drawer_show;
  background-image: url("/ui/setting.svg");
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.site_logo {
  grid-area: site_logo;
}

.solution_options {
  grid-area: solution_options;

}

.search_list {
  grid-area: search_list;

}

.history_list {
  grid-area: history_list;
}

.schedule_list {
  grid-area: schedule_list;
}

.solution_lack {
  grid-area: solution_lack;
}

.solution_craft {
  grid-area: solution_craft;
}

.inventory_show {
  grid-area: inventory_show;


}

.div_border {
  border: 2px dashed #1c689b;
}

.div_scrollable {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.div_header {
  padding-left: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: visible !important;
  position: relative;
}

.div_header span {
  font-weight: bold;
}



.div_scroll_area {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  scrollbar-gutter: stable;
}



.item_search {
  grid-area: item_search;
  display: flex;
  justify-content: center;
  align-items: center;
}





.dimmed {
  color: rgba(255, 255, 255, 0.233)
}

img.dimmed {
  opacity: 0.2;
}

img.dimmed:hover {
  opacity: 1.0;
  transition: opacity 200ms ease-in-out;
}

.schedule_rbox {
  position: absolute;
  right: 0px;
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}



.large_text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1c689b55;
  padding: 20px;
  text-align: center;
}







code {
  /* color: red; */
  /* border: 1px solid; */
  font-style: italic;
}


.dbg_panel {

  position: fixed;
  width: 300px;
  height: auto;
  top: 10px;
  left: 200px;

}
