*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* Растягиваем страницу на весь вьюпорт */
  margin: 0;
  overflow: hidden;
  /* Убираем скролл у всей страницы, чтобы скроллили только дивы */
}

.la {
  text-align: left;
}

.ra {
  text-align: right;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #828cc4;
}

td.pad, th.pad {
  padding: 0px 5px;
}

td.padl, th.padl {
  padding-left: 5px;
}

#root {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;

  padding: 10px;
  margin: 0px;
  /* display: flex;  justify-content: center;  align-items: center; */

}

.container {
  display: grid;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 40px 3fr 5fr;
  gap: 25px 25px;
  /* grid-auto-flow: row; */
  width: 100%;
  height: 100%;
  grid-template-areas:
    "item_search item_search inventory_show"
    "search_list search_list history_list"
    "schedule_list solution_lack solution_craft";
}

.item_search {
  grid-area: item_search;
}


.search_list {
  grid-area: search_list;
}

.history_list {
  grid-area: history_list;
}

.schedule_list {
  grid-area: schedule_list;
}

.solution_lack {
  grid-area: solution_lack;
}

.solution_craft {
  grid-area: solution_craft;
}

.inventory_show {
  grid-area: inventory_show;
  background: #e4e8ff;
  cursor: pointer;
}


.search_list,
.history_list,
.schedule_list,
.solution_lack, .solution_craft {
  border: 1px dotted rgba(7, 85, 201, 0.35);
  overflow: auto;
  min-height: 0;
  min-width: 0;
}



.button-selector>div {

  width: 32px;
  height: 32px;
}

.button-selector>div:hover {
  outline: 1px solid red;
  /* Загоняем его внутрь */
  outline-offset: -1px;

  /* box-shadow: inset 0 0 0 3px blue; */
}

.transp {
  opacity: 0.2;
}

img {
  vertical-align: top;
}

.search_item,
.schedule_item {
  padding: 2px;
  margin: 1px;
  background: #e4e8ff;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 36px;
  /* height: 56px; */
  /* border-radius: 0px 20px 20px 0px; */
}

.rbox {
  position: absolute;
  right: 10px;
}

.schedule_item .ed {
  border: 1px solid red;
  position: absolute;
  right: 0px;
}

.search_item {


  cursor: pointer;

  /* 3. Рисуем троеточие */
  text-overflow: ellipsis;
}

.search_item img, .schedule_item img {
  margin-right: 5px;
}