*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
  /* Делаем скроллбар узким */
  scrollbar-color: #0f3a55 transparent;
  /* Цвет ползунка и фона */
}

.bc1 {

  background-color: #154c71;
}

.bc2 {

  background-color: #1e4863;
}

.bc3 {
  background-color: #0f3a55;
}

.oc3 {
  border: 1px solid #0f3a55;
}

body

/* td, th  */
  {
  color: white;
}

a {
  color: #f3b831;
  text-decoration: none;
}

a:hover {

  text-decoration: underline;
}


html,
body {
  height: 100%;

  overflow: hidden;
}



.la {
  text-align: left;
}

.ra {
  text-align: right;
}

.nw {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-bottom: 10px;
}

tr, td, th {
  height: 32px;
}

td, th {
  border: 1px solid #ffffff23;

}

.pad, .pad {
  padding: 0px 5px;
}

.padl, .padl {
  padding-left: 5px;
}

.padr {
  padding-right: 5px;
}

.padi {
  padding: 20px;
}

.curptr {
  cursor: pointer;
}

.icon_holder {
  width: 32px;
}

#root {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;

  padding: 10px;
  /* margin: 10px; */

}

.container {
  display: grid;
  grid-template-rows: 60px 60px 3fr 5fr;
  grid-template-columns: 450px 1fr 1fr 40px;

  gap: 5px 5px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "item_search site_logo inventory_show drawer_show"
    "search_list solution_options solution_options solution_options"
    "search_list solution_lack solution_craft solution_craft"
    "schedule_list solution_lack solution_craft solution_craft";
}

.drawer_show {
  grid-area: drawer_show;
  background-image: url("/ui/setting.svg");
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.site_logo {
  grid-area: site_logo;
  /* background-image: url("/img/logo2.png");  background-position: center;  background-repeat: no-repeat; */
}

.solution_options {
  grid-area: solution_options;

}

.search_list {
  grid-area: search_list;

}

.history_list {
  grid-area: history_list;
}

.schedule_list {
  grid-area: schedule_list;
}

.solution_lack {
  grid-area: solution_lack;
}

.solution_craft {
  grid-area: solution_craft;
}

.inventory_show {
  grid-area: inventory_show;


}

.div_border {
  border: 2px dashed #1c689b;
}

.div_scrollable {
  display: flex;
  flex-direction: column;

  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  min-height: 0;
  min-width: 0;
}

.div_header {
  /* padding: 10px; */
  padding-left: 10px;

  height: 40px;
  /* flex-shrink: 0; */

  display: flex;
  align-items: center;
  gap: 10px;
  overflow: visible !important;
  position: relative;
  /* z-index: 50; */
  /* border: 1px solid yellow; */
}

.div_header span {
  font-weight: bold;
}

.div_header>* {
  /* border: 1px solid greenyellow; */
}

.div_scroll_area {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}



.item_search {
  grid-area: item_search;
  display: flex;
  justify-content: center;
  align-items: center;
}



.transp {
  opacity: 0.2;
}

img {
  vertical-align: top;
}

.search_item {
  cursor: pointer;
}

.search_item,
.schedule_item {
  padding: 2px;
  margin: 0px 1px 1px 0px;
  /* background: #e4e8ff; */
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 36px;
  color: white;
  /* height: 56px; */
  border-radius: 3px;
  flex-shrink: 0;
}


.dimmed {
  color: rgba(255, 255, 255, 0.233)
}

img.dimmed {
  opacity: 0.2;
}

img.dimmed:hover {
  opacity: 1.0;
  transition: opacity 200ms ease-in-out;
}

.schedule_rbox {
  position: absolute;
  right: 0px;
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}




.iconpng {
  width: 32px;
  height: 32px;
}

.large_text {
  /* Размеры */
  width: 100%;
  height: 100%;
  /* 👇 Самое важное: скажи ему занять всё место явно */
  /* flex: 1;  <-- Тоже можно, но height: 100% надежнее для единственного ребенка */

  /* Центровка */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Красота */
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1c689b55;
  padding: 20px;
  text-align: center;
  /* На случай, если текст перенесется на 2 строки */
}

.red_cross {
  /* width: 100px; */
  /* height: 50px; */
  border: none;
  background: transparent;
  /* position: absolute; */
  cursor: pointer;
  font-weight: bold;
  color: rgba(134, 134, 134, 0.189);
  font-size: 20px;
  width: 30px;
  /* opacity: 0.2; */
  transition: color 300ms ease;
}





.red_cross:hover {
  /* opacity: 1.0; */
  color: red;
}

code {
  /* color: red; */
  /* border: 1px solid; */
  font-style: italic;
}