.transp {
    opacity: 0.2;
}

img {
    vertical-align: top;
}

.pad {
    padding: 0px 5px;
}
.pad-num {
     padding-left: 16px;
      padding-right: 8px;
}
.pad-txt {
     padding-left: 5px;
      padding-right: 28px;
}

.padl {
    padding-left: 5px;
}

.padr {
    padding-right: 5px;
}

.padr12 {
    padding-right: 12px;
}

.padi {
    padding: 20px;
}

.curptr {
    cursor: pointer;
}

.icon_holder {
    width: 32px;
}

.fntl {
    font-size: x-large;
}


.la {
    text-align: left;
}

.ra {
    text-align: right;
}

.nw {
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 10px;
}

tr, td, th {
    height: 32px;
}

td, th {
    border: 1px solid #ffffff12;

}