.inventory_import_win {
    z-index: 9999;
    /* font-size: x-large; */
}


.win_bg {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #55fe;

}

.win_content {
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;

    background-color: rgb(254, 253, 231);
    box-shadow: 15px 15px 24px 0px rgba(0, 0, 0, 0.55);
    padding: 20px;
    text-align: center;
}

.win_content>* {}

.win_part {
    border: 5px solid #55f;
    /* height: 20%; */
    border-radius: 10px;
    padding: 10px;

    width: 100%;
    /* height: 100%; */
    /* margin-top: 10px;    margin-bottom: 10px; */
    margin: 10px;
}


.large {
    font-size: 32px;
    font-weight: bold;
}

.drag_over {

    border-color: red;
}

.win_content * {
    /* border: 1px solid red !important; */

}