.list_item {
    padding: 2px;
    margin: 0px 1px 1px 0px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 36px;
    color: white;
    /* height: 56px; */
    border-radius: 3px;
    flex-shrink: 0;
    background-color: #0f3a55;

    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: center;
    /* align-content: stretch; */

    /* align-items: flex-start; */
    /* cursor: pointer; */


}

.list_item_left,
.list_item_right {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    /* justify-content: flex-end; */
    align-items: center;
    /* align-content: stretch; */
    /* border: 1px solid yellowgreen; */

}


.iconcount_wrapper {
    position: relative;
}

.iconpng {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.iconcount {
    position: absolute;
    image-rendering: pixelated;
    right: 0px;
    bottom: 0px;
}