.list_item {
    padding: 2px;
    margin: 0px 1px 1px 0px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 36px;
    color: white;
    border-radius: 3px;
    flex-shrink: 0;
    background-color: #0f3a55;
}

.list_item_left,
.list_item_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    /* border: 1px solid yellowgreen; */
}

.list_item_left {
    left: 2px
}

.list_item_right {
    right: 2px;
}


.history_fade {
    -webkit-mask-image: linear-gradient(90deg, black 200px, transparent 280px);
    mask-image: linear-gradient(90deg, black 200px, transparent 280px);
}

.history_fade>* {
    margin-right: 2px;
}

.iconcount_wrapper {
    position: relative;
}

.iconpng {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.iconcount {
    position: absolute;
    image-rendering: pixelated;
    right: 0px;
    bottom: 0px;
}