input,
textarea {
    outline: none;
}

input[type="number"], input[type="text"] {
    padding: 10px;
    border: 2px solid #828cc4;
    border-radius: 8px;
}

input[type="text"] {
    width: 100%;
    height: 100%;



}

input[type="text"]:focus {
    border-color: #2f3d8f;
    transition: border-color 300ms ease;
}


textarea {
    width: 100%;
    resize: none;
}

button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: #e4e8ff;
}

button:hover {
    background-color: #c0c6ea;
}