input,
textarea {
    outline: none;
    border: 1px solid #9E2C2C;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
}

input[type="number"] {
    padding: 3px 3px;
    width: 50px;
    text-align: right;
}




input[type="text"]:focus,
input[type="number"]:focus {
    border: 1px solid #a41e1e;
}


textarea {
    width: 100%;
    resize: none;
}



button.normal {
    width: 100px;
    height: 50px;
    border: none;
    background-color: #1e4863;
    color: white;
}

button.normal:hover {
    background-color: #1c689b;
}


::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #154c71;
}

::-webkit-scrollbar-thumb {
    background-color: #0f3a55;
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background: #154c71;
    /* Цвет твоего track */
}

/* CHECKBOX  */
.checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.hidden-input {
    display: none;
}

.custom-box {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    position: relative;
    transition: all 0.2s;
}

.hidden-input:checked+.custom-box {
    background-color: #0f3a55;
    border-color: white;
}

.custom-box::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    transition: all 0.2s;
}

.hidden-input:checked+.custom-box::after {
    transform: rotate(45deg) scale(1);
}

.red_cross {
    border: none;
    background: transparent;

    cursor: pointer;
    font-weight: bold;
    color: rgba(134, 134, 134, 0.189);
    font-size: 20px;
    width: 32px;
    height: 32px;
    /* opacity: 0.2; */
    transition: color 300ms ease;
    /* background-color: rgba(85, 107, 47, 0.185); */
    /* vertical-align: middle; */
}

.red_cross:hover {
    /* opacity: 1.0; */
    color: red;
}