input,
textarea {
    outline: none;
}

input[type="text"] {
      border: 2px solid #828cc4;
}

input[type="number"] {
    padding: 5px 3px;
    width: 50px;
    text-align: right;
    border: 2px solid #828cc400;
}

input[type="number"]:hover {
    border-color: #828cc4;
    transition: border-color 300ms ease;
}


input[type="number"],
input[type="text"] {


    border-radius: 8px;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 10px;


}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #2f3d8f;
    transition: border-color 300ms ease;
}


textarea {
    width: 100%;
    resize: none;
}

button.red_cross {
    /* width: 100px; */
    height: 50px;
    border: none;
    background: transparent;
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-size: 20px;
    width: 30px;
    opacity: 0.2;
}





button.red_cross:hover {
    opacity: 1.0;
    transition: opacity 300ms ease;
}

button.normal {
    width: 100px;
    height: 50px;
    border: none;
    background-color: #e4e8ff;
}

button.normal:hover {
    background-color: #c0c6ea;
}