* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;

  padding: 10px;
  margin: 0px;

}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 50px 1fr;
  grid-template-rows: 40px 40px 40% 50%;
  gap: 5px 5px;
  /* grid-auto-flow: row; */
  width: 100%;
  height: 100%;
  grid-template-areas:
    "item_search item_search . history_list"
    "type_selector grade_selector . history_list"
    "search_list search_list search_list history_list"
    "current_schedule solution solution solution";
}

.item_search {
  grid-area: item_search;
}

.type_selector {
  grid-area: type_selector;
}

.grade_selector {
  grid-area: grade_selector;
}

.search_list {
  grid-area: search_list;
}

.history_list {
  grid-area: history_list;
}

.current_schedule {
  grid-area: current_schedule;
}

.solution {
  grid-area: solution;
}


.container>div {
  border: 1px dotted rgba(255, 0, 0, 0.35);
}


input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #828cc4;
  border-radius: 8px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #2f3d8f;
  transition: border-color 300ms ease;
}